<% content_for :title, "Editing #{@story}" %>
<% content_for :h2, h("Editing #{@story}") %>
<% form_for [@project, @story] do |form| %>
  <%= form.error_messages %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Update Story' %>
  </p>
<% end %>
