<% content_for :title, "New Story" %>
<% content_for :h2, "New Story" %>
<% form_for @story, :url => project_stories_path do |form| %>
  <%= form.error_messages %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Create Story' %>
  </p>
<% end %>
