<% content_for :title, "Planning iteration #{@iteration}" %>
<% content_for :h2, "Planning iteration #{h(@iteration)}" %>
<% body_classes << 'iteration_planning' %>

<% form_for [@project, @iteration] do |form| %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Update Iteration' %>
  </p>
<% end %>
